VITE_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
VITE_IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxxxxxxxxx
VITE_IMAGEKIT_AUTH_ENDPOINT=http://localhost:5000/api/imagekit/auth
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_preset